NEXT_PUBLIC_SUPABASE_URL=https://aiicnxqbqvuxeczpquca.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFpaWNueHFicXZ1eGVjenBxdWNhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI1Mjc5MTcsImV4cCI6MjA5ODEwMzkxN30.UqPvUmDzV5WBPZDbSQIygn2fvoxZnbaMI8xm0wXGGuc